@use './../utils/variables' as *;

.custom-dropdown {
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  background-color: $white;
  z-index: 99;
  opacity: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid $border-color;
  border-radius: 15px;
  top: 85px;
  transition: all 0.3s ease;

  &.open {
    opacity: 1;
    transition: all 0.3s ease;
    height: 200px;
    width: 300px;
  }
}

.onclick-dropdown {
  cursor: pointer;
}

// emojis start //
.emojis-main {
  position: relative;
  display: flex;

  .toggle-sticker {
    img {
      height: 30px;
    }
  }

  .toggle-sticker {
    svg {
      height: 22px;
      width: 22px;
      stroke: rgba(var(--primary-color), 1);

      path {
        stroke: rgba(var(--primary-color), 1);
      }
    }

    &.active {
      svg {
        fill: $white;

        path {
          stroke: $white;
        }
      }
    }
  }

  .emojis-contain,
  .sticker-contain {
    width: 0;
    height: 0;
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 66px;
    padding: 15px;
    transform: scale(0);
    transition: all 0.3s ease;

    &.open {
      bottom: 55px;
      transform: scale(1);
      transition: all 0.3sease;
      width: auto;
      height: auto;
      padding: 0;
      background-color: transparent;
      border-radius: 10px;
    }

    .emojis-sub-contain {
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid $white;
        bottom: -12px;
        left: 70px;
        z-index: 1;
      }

      ul {
        li {
          display: inline-block;
          font-size: 24px;
          padding: 5px 2px;
          cursor: pointer;
        }
      }
    }

    .sticker-sub-contain {
      display: flex;
      width: 300px;
      overflow: auto;
      max-height: 200px;
      padding: 15px;
      background-color: #fff;
      border-radius: 10px;

      body.dark & {
        background-color: rgba(var(--dark), 1);
      }

      ul {
        display: flex;
        gap: 10px;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;

        li {
          display: inline-block;

          img {
            min-width: 45px;
            min-height: 45px;
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }

  .contact-poll {
    transition: all 1s ease;

    .contact-poll-content {
      position: absolute;
      bottom: 72px;
      left: -25px;
      background-color: $white;
      padding: 16px 30px;
      transition: all 1s ease;
      display: none;
      border-radius: 12px;
      box-shadow: 0px 2px 15px 0px rgba($muted-font, 0.08);

      ul {
        &:last-child {
          li {
            margin-bottom: 0px;
          }
        }

        li {
          margin-bottom: 15px;
          position: relative;
          text-transform: capitalize;
          font-size: 16px;
          font-weight: 600;
          transition: all 0.5s ease;
          text-align: center;

          svg {
            height: 24px;
            width: 24px;
            fill: $white;
          }

          div {
            height: 50px;
            width: 50px;
            border-radius: $radius50;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .location-more-features {
            background-image: radial-gradient(39.96% 39.96% at 34% 22%, #44a0a5 3.13%, #25767B 100%);
          }

          .camera-more-features {
            background-image: radial-gradient(48.38% 48.38% at 35% 31%, #9694fd 0%, #6663e5 100%);
          }

          .audio-more-features {
            background-image: radial-gradient(39.96% 39.96% at 34% 22%, #c855f0 3.13%, #a92fd4 100%);
          }

          .gallery-more-features {
            background-image: radial-gradient(135.15% 135.15% at 13% -11%, #fe54c4 0%, #e51fa2 52.6%, #f37843 100%);
          }

          .video-more-features {
            background-image: radial-gradient(37.12% 37.12% at 38% 29%, #fb9c58 0%, #f97415 100%);
          }

          .contact-more-features {
            background-image: radial-gradient(55.47% 55.47% at 35% 28%, rgba(105, 136, 249, 0.99) 0%, #386ffd 100%);
          }

          &:hover {
            a {
              color: rgba(var(--primary-color), 1);
              transition: all 0.3s ease;
            }
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid $white;
        bottom: -12px;
        left: 40px;
        z-index: 1;
      }
    }
  }
}

// sticker gif //
.main-nav {
  .status {
    >div {
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(var(--primary-color), 1);
        left: 0;
        z-index: -1;
        top: 0;
        border-radius: 100%;
      }
    }
  }

  .user-popup {
    height: 43px;
    width: 43px;
    padding: 3px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;

    &.two {
      >div {
        &:after {
          content: '';
          position: absolute;
          height: 3px;
          width: 100%;
          background-color: $white;
          left: 0;
          z-index: -1;
          top: 22px;
        }
      }
    }

    &.three {
      >div {
        &:after {
          content: '';
          position: absolute;
          left: -6px;
          z-index: -1;
          top: -5px;
          width: 0;
          height: 0;
          border-left: 33px solid transparent;
          border-right: 28px solid transparent;
          border-bottom: 43px solid $white;
        }
      }
    }

    >div {
      height: 37px;
      width: 37px;
      border-radius: $radius100;
      margin: 0 auto;
    }
  }
}

// chat frind popup //
.chat-friend-toggle {
  position: relative;

  .chat-friend-content {
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: $white;
    text-align: left;
    text-transform: capitalize;
    border-radius: 6px;
    width: 180px;
    box-shadow: 0 0 10px #ddd;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        cursor: pointer;
        padding: 0 !important;
        position: relative;
        display: inline-flex !important;
        align-items: center;
        gap: 4px;
        width: 100%;

        &:hover {
          h5 {
            letter-spacing: 0.7px;
            transition: all 0.4s ease-in-out;
          }
        }

        button {
          background-color: transparent;
          border-radius: 100%;
          border: none;

          svg {
            height: 20px;
            width: 20px;
          }

          &:has(.fill-danger) {
            background-color: rgba(var(--danger-color), 0.2);

            svg {
              fill: rgba(var(--danger-color), 1) !important;
            }
          }

          &:has(.fill-info) {
            background-color: rgba($info-color, 0.2);

            svg {
              stroke: rgba($info-color, 1) !important;
              fill: none;
            }
          }

          &:has(.fill-warning) {
            background-color: rgba(var(--warning-color), 0.2);

            svg {
              fill: rgba(var(--warning-color), 1) !important;
            }
          }

          &:has(.fill-secondary) {
            background-color: rgba(var(--secondary-color), 0.2);

            svg {
              fill: rgba(var(--secondary-color), 1) !important;
            }
          }
        }

        h5 {
          color: rgba(var(--dark-color), 0.8);
          font-weight: 500;
          font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}

.user-status {
  position: relative;
  padding: 2px;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--primary-color), 1);
    left: 0;
    z-index: -1;
    top: 0;
    border-radius: 100%;
  }
}