@use './../utils/variables' as *;
.introjs-tooltipReferenceLayer {
  width: 95px;
  left: 0;
  .introjs-tooltip {
    left: 114px;
    padding: 25px;
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--primary-color), 1);
  }
  .introjs-helperNumberLayer {
    text-shadow: none;
    width: 25px;
    height: 25px;
    line-height: 24px;
    border: none;
    top: -10px;
    left: 10px;
  }
  .introjs-tooltip {
    box-shadow: -1px 10px 16px -10px rgba(var(--primary-color), 1);
    border-radius: 15px;
    border: none;
  }
  .introjs-arrow {
    &.left {
      left: -21px;
      border-width: 11px;
      border-right-color: rgba(var(--primary-light), 1);
    }
    &.left-bottom {
      border-right-color: rgba(var(--primary-light), 1);
    }
    &.right {
      border-left-color: rgba(var(--primary-light), 1);
    }
  }
}
.introjs-helperLayer {
  width: 95px;
  left: 0;
  border-radius: 15px !important;
  background-color: rgba(var(--primary-color), 1) !important;
}
.introjs-tooltip {
  background-color: rgba(var(--primary-light), 1);
  color: rgba(var(--primary-color), 1);
  .introjs-tooltipbuttons {
    text-align: left;
  }
  .introjs-bullets {
    text-align: left;
    ul {
      li a {
        background: rgba(var(--primary-color), 0.2);
        &.active {
          background-color: rgba(var(--primary-color), 1);
          border: 3px double $border-color;
          margin-top: -3px;
        }
      }
    }
  }
  .introjs-button {
    border-radius: 15px;
    padding: 0px 15px;
    line-height: 2.2;
    background-color: rgba(var(--primary-color), 1);
    border: none;
    font-weight: 500;
    background-image: none;
    text-shadow: none;
    color: $white !important;
    &:focus,
    &:active {
      background-image: none;
    }
    &.introjs-prevbutton {
      border-radius: 15px 0 0 15px;
    }
    &.introjs-nextbutton {
      border-radius: 0 15px 15px 0;
    }
  }
}
.introjs-tooltiptext {
  font-weight: 500;
  font-size: 16px;
}

.reactour__mask {
  > svg {
    > defs {
      > mask {
        > rect {
          &:last-child {
            width: 100px !important;
            border-radius: 4px !important;
          }
        }
      }
    }
  }
}
