@use './../utils/variables' as *;
// app design start //
.light-bg {
  background-color: rgba(var(--primary-color), 0.05);
}

// meetzy start /
.meetzy-main {
  position: relative;
  overflow: hidden;
  .meetzy-contain {
    display: flex;
    align-items: center;
    height: 100%;
    img {
      margin-top: 20px;
    }
    .meetzy-logo {
      margin-bottom: 35px;
    }
    h3 {
      font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--dark-color), 1);
      font-family: $font-1;
      font-weight: 800;
      margin-bottom: 40px;
      span {
        font-weight: 600;
        font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
      }
    }
    h1 {
      font-size: calc(18px + (48 - 18) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--dark-color), 1);
      font-family: $font-1;
      font-weight: 800;
      margin-bottom: 50px;
      width: 560px;
    }
    h4 {
      font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--dark-color), 1);
      font-family: $font-1;
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 1.6;
    }
    ul.detial-price {
      li {
        margin-bottom: 15px;
        font-size: 14px;
        color: $black1;
        font-family: $font-1;
        font-weight: 300;
        &:last-child {
          margin-bottom: 0;
        }
        i {
          color: rgba(var(--primary-color), 1);
          margin-right: 20px;
        }
      }
    }
    .pricing-btn {
      color: $white;
      margin-top: 45px;
      &:hover {
        color: rgba(var(--primary-color), 1);
      }
    }
  }
  .meetzy-back-block {
    .chit-chat1 {
      position: absolute;
      top: 28%;
      left: 16%;
      z-index: -1;
      animation: animatow 30s linear infinite;
    }
    .chit-chat2 {
      position: absolute;
      top: 33%;
      right: 8%;
      z-index: -1;
      animation: animatow 30s linear infinite;
    }
    .chit-chat3 {
      position: absolute;
      top: 54%;
      left: 33%;
      z-index: -1;
      animation: slidemain 50s linear infinite;
    }
  }
}

// collaboration  start //
.collaboration-main {
  .collaboration-content {
    text-align: center;
    margin-bottom: 85px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul.collab-tab.nav.nav-pills {
      li.nav-item {
        display: inline-block;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        .tab-img-1 {
          position: absolute;
          padding: 10px;
          background-image: url(../../images/about/6.png);
          z-index: 1;
          height: 60px;
          width: 60px;
          display: flex !important;
          align-items: center;
          justify-content: center;
          background-size: cover;
          top: 15%;
          left: 50%;
          transform: translate(-50%, -50%);
          i {
            font-size: 20px;
            color: rgba(var(--primary-color), 1);
            font-weight: 900;
          }
          @media (max-width: 767px) {
            display: none !important;
          }
        }
        a.nav-link {
          clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
          background: linear-gradient(rgba(var(--primary-color), 1), rgba(var(--primary-color), 0.05));
          border-radius: 10px;
          padding: 0;
          @media (max-width: 767px) {
            clip-path: unset !important;
          }
          &::before {
            content: '';
            position: absolute;
            height: 99%;
            width: 98.5%;
            top: 2px;
            left: 2px;
            z-index: -1;
            border-radius: 8px;
            transition: all 0.4s ease-in-out;
            background-color: rgba(var(--primary-light), 1);
            clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
          }
          .tab-main {
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 60px 0px 20px;
            min-width: 250px;
            @media (max-width: 1367px) {
              min-width: 220px;
              padding: 50px 0px 12px;
            }
            @media (max-width: 1199px) {
              min-width: 170px;
              padding: 50px 0px 16px;
            }
            @media (max-width: 830px) {
              min-width: 140px;
            }
            @media (max-width: 767px) {
              min-width: unset;
            }
            .tab-content {
              text-align: center;
              h3 {
                font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
                color: rgba(var(--dark-color), 1);
                font-family: $font-1;
                font-weight: 800;
                line-height: 1;
                margin-bottom: 10px;
                text-transform: capitalize;
              }
              p {
                font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
                color: rgba(var(--dark-color), 1);
                margin-bottom: 0;
                line-height: 1;
                text-transform: capitalize;
              }
            }
          }
          &.active {
            .tab-main {
              background-image: linear-gradient(137deg, #e3f8b4 -52.18%, rgba(var(--primary-color), 1) 35.64%);
              .tab-content {
                h3,
                p {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
  .tab-detail {
    filter: drop-shadow(0px 5px 15px rgba(29, 159, 250, 0.1));
    width: fit-content;
    margin: 0 auto;
  }
}

// testimonial start //
.testimonial-slider {
  padding-top: 45px;
  display: none;
  .owl-nav {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    &.disabled {
      opacity: 1 !important;
    }
    button {
      &:focus {
        outline: none;
        border: none;
      }
      &.owl-prev,
      &.owl-next {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(var(--primary-light), 1);
        font-family: FontAwesome;
        position: relative;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        span {
          font-size: 15px;
          display: none !important;
        }
        &:hover {
          background-color: rgba(var(--primary-color), 1);
          transition: all 0.5s ease;
          &::before {
            color: $white;
          }
        }
        &::before {
          font-size: 15px;
          color: rgba(var(--primary-color), 1);
          transition: all 0.5s ease;
        }
      }
      &.owl-prev {
        &::before {
          position: absolute;
          content: '\f060';
        }
      }
      &.owl-next {
        margin-left: 20px;
        &::before {
          position: absolute;
          content: '\f061';
        }
      }
    }
  }
}
.testimonial-box {
  border-radius: 10px;
  clip-path: polygon(49% 4%, 100% 0, 100% 0, 100% 100%, 100% 100%, 49% 96%, 0 100%, 0 100%, 0 0, 0 0);
  background-image: linear-gradient(rgba(var(--primary-color), 1), rgba(var(--primary-color), 0.05));
  text-align: center;
  margin: 20px 0;
  padding: 60px 40px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 99%;
    width: 99%;
    background-color: rgba(var(--primary-light), 1);
    top: 2px;
    left: 2px;
    z-index: -1;
    border-radius: 8px;
    clip-path: polygon(49% 4%, 100% 0, 100% 0, 100% 100%, 100% 100%, 49% 96%, 0 100%, 0 100%, 0 0, 0 0);
  }
  .test-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: fit-content;
    background-color: $test-back;
    border-radius: 50%;
    div {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50px;
        padding: 2px;
        background: linear-gradient(rgba(var(--primary-color), 1), rgba(var(--primary-color), 0.05));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
      img {
        padding: 4px;
      }
    }
    .test-wish {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      padding: 8px;
      border-radius: 50%;
      color: $white;
      background-color: rgba(var(--primary-color), 1);
    }
  }
  .test-contain {
    text-transform: capitalize;
    h4 {
      color: rgba(var(--primary-color), 1);
      font-family: $font-1;
      font-weight: 700;
      margin-bottom: 15px;
    }
    h3 {
      font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--dark-color), 1);
      font-family: $font-1;
      font-weight: 700;
      margin-bottom: 15px;
    }
    h6 {
      color: $muted-font;
      font-family: $font-1;
      font-weight: 400;
      line-height: 1.8;
      letter-spacing: 0.7px;
    }
    ul.test-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      li {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: $white;
        border: 1px solid rgba($light-blue, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.testimonial-main {
  position: relative;
  overflow: hidden;
  .testimonial-back-content {
    .test-img1 {
      position: absolute;
      top: 3%;
      left: 4%;
      transform: rotate(230deg);
      animation: slidemain 50s linear infinite;
    }
    .test-img2 {
      position: absolute;
      bottom: 7%;
      right: 12%;
      animation: slidemain 50s linear infinite;
      z-index: -1;
    }
  }
  .swiper {
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(var(--primary-color), 1);
      font-family: FontAwesome;
      transition: all 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      &::after {
        font-size: 15px;
        color: $white;
        transition: all 0.5s ease;
      }
    }
    .swiper-button-next {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(var(--primary-color), 1);
      font-family: FontAwesome;
      transition: all 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      &::after {
        font-size: 15px;
        color: $white;
        transition: all 0.5s ease;
      }
    }
  }
}

// secure-app-main start //
.secure-app-main {
  background-image: url('../../images/landing/parallax/main.png');
  background-color: rgba(var(--primary-color), 0.1);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 806px;
  position: relative;
  overflow: hidden;
  .secure-app-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 806px;
    .ply-main {
      display: flex;
      align-items: center;
      margin-bottom: 27px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 3%;
        width: 30%;
        height: 4px;
        transform: translate(-50%, -3%);
        background-image: linear-gradient(to left, rgba(#011e30, 0), rgba(#011e30, 1));
        @media (max-width: 1600px) {
          display: none;
        }
      }
      .ply-content {
        background-color: rgba(var(--primary-color), 0.1);
        width: 55px;
        height: 55px;
        border-radius: 10px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 30px;
          width: 30px;
        }
      }
      h3 {
        font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--dark-color), 1);
        font-family: $font-1;
        font-weight: 800;
      }
    }
    h2 {
      font-size: calc(18px + (46 - 18) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--dark-color), 1);
      font-family: $font-1;
      font-weight: 800;
      margin-bottom: calc(20px + (37 - 20) * ((100vw - 320px) / (1920 - 320)));
    }
    h4 {
      font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1920 - 320)));
      font-family: $font-1;
      font-weight: 500;
      color: $black1;
      margin-bottom: 40px;
      width: 80%;
      line-height: 1.8;
    }
    .pricing-btn {
      color: $white;
      border-radius: 0;
      padding: 10px 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 800;
      background-color: rgba(var(--primary-color), 1);
      border: 1px solid transparent;
      &:hover {
        background-color: transparent;
        border: 1px solid rgba(var(--primary-color), 1);
      }
    }
  }
  .secure-back-content {
    .secure-img1 {
      position: absolute;
      top: 10%;
      right: -7%;
      transform: rotate(125deg);
      animation: slidemain 60s linear infinite;
    }
    .secure-img2 {
      position: absolute;
      top: 100px;
      left: 38%;
      transform: rotate(-86deg);
      animation: slidemain 80s linear infinite;
    }
  }
}

.downlaod {
  .footer-btn {
    .btn {
      border-radius: 10px;
      filter: drop-shadow(0px 5px 15px rgba(34, 54, 69, 0.07));
      background-color: $white;
      display: inline-flex;
      align-items: center;
      padding: 17px 30px;
      h6 {
        padding-bottom: 4px;
      }
      &.active {
        background-image: linear-gradient(145deg, #08cfa4 0%, #0f98a0 100%);
        transition: all 0.3s ease;
        color: $white;
        h4,
        h6 {
          transition: all 0.3s ease;
          color: $white;
        }
      }
      i {
        font-size: 28px;
      }
      div {
        text-align: left;
        padding-left: 12px;
      }
      & + .btn {
        margin-top: 15px;
      }
    }
  }
}

.pricing-btn {
  border-radius: 8px;
  background-color: rgba(var(--primary-color), 1);
  color: $white;
}
.button-bg-color {
  a {
    &:nth-child(2) {
      &:hover {
        background-color: $success-color !important;
      }
    }
    &:nth-child(3) {
      &:hover {
        background-color: $danger-color !important;
      }
    }
    &:nth-child(4) {
      &:hover {
        background-color: $light-color !important;
        color: rgba(var(--dark-color), 1) !important;
      }
    }
    &:nth-child(5) {
      &:hover {
        background-color: $warning-color !important;
      }
    }
  }
}

/*=====================
    animation 
  ==========================*/
@-webkit-keyframes slidemain {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-modal-1 {
  background-image: url('../../images/avatar/big/audiocall.jpg');
  background-size: 'cover';
  background-position: 'center center';
  display: 'block';
}
