@use './../utils/variables' as *;

// -- otp -- //
.otp {
  overflow-x: hidden;

  .otp-bg-img {
    padding: 50px;
    background-color: rgba(var(--primary-light), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .left-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;

    @media (max-width: 991px) {
      background-color: rgba(var(--primary-color), 0.08);
      padding: 30px;
      min-height: 100vh;
      position: relative;
      height: unset;
    }

    .otp-content {
      width: fit-content;
      border: 1px solid rgba($muted-font, 0.15);
      padding: 40px 50px;
      border-radius: 8px;
      background-color: $white;
      box-shadow: 0px 2px 15px 0px rgba(var(--primary-color), 0.08);

      @media (max-width: 480px) {
        padding: 30px 20px;
      }

      h3 {
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
        font-family: $font-1;
        font-weight: 600;
        padding-bottom: 5px;
      }

      p {
        margin-bottom: 40px;
      }

      h5 {
        margin-bottom: 60px;
      }

      .form1 {
        .otp-generate {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          @media (max-width: 480px) {
            gap: 10px;
          }

          .form-control {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            padding: 0;
            display: block;
            min-width: 0;
            text-align: center;
            border: 1px solid rgba($muted-font, 0.15);
            background-color: rgba($muted-font, 0.05);

            @media (max-width: 560px) {
              width: 40px;
              height: 40px;
            }

            @media (max-width: 480px) {
              width: 36px;
              height: 36px;
            }
          }
        }
      }

      .termscondition {
        border-top: 1px dashed rgba($muted-font, 0.15);
      }
    }
  }
}

.login-page {
  overflow-x: hidden;

  .login-bg-img {
    padding: 50px;
    background-color: rgba(var(--primary-light), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    width: 50%;

    @media (max-width: 991px) {
      padding: 0;
      display: none;
    }
  }

  .left-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;

    @media (max-width: 991px) {
      background-color: rgba(var(--primary-light), 1);
      background-image: url(../../images/login_signup/01.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      height: 100vh;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white, 0.4);
        z-index: -1;
      }
    }

    @media (max-width: 991px) {
      height: 100%;
    }

    .login-content {
      width: fit-content;
      border: 1px solid rgba($muted-font, 0.15);
      padding: 40px 50px;
      border-radius: 8px;
      background-color: $white;
      box-shadow: 0px 2px 15px 0px rgba(var(--primary-color), 0.08);

      .login-content-header {
        img {
          height: 50px;
        }
      }
    }

    h3 {
      font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
      font-family: $font-1;
      font-weight: 600;
      padding-bottom: 5px;

      span {
        font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
      }
    }

    .form1 {
      label {
        font-weight: 500;
        font-size: 16px;
        color: rgba(var(--dark-color), 1);
      }

      .form-control,
      .form-select {
        padding: 7px 15px;
        background-color: rgba($muted-font, 0.05);
        border: 1px solid rgba($muted-font, 0.15);
      }

      >.form-group {
        margin-bottom: 15px;
      }
    }

    .termscondition {
      border-top: 1px dashed rgba($muted-font, 0.15);
    }
  }
}

.left-page {
  @media (max-width: 991px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 100px;
    background: rgba($white, 0.5);
    width: 100%;
    z-index: 1;
  }
}

.otp-bg-img {
  @media (max-width: 991px) {
    padding: 30px 50px;
  }
}

.index-main {
  .for-light {
    display: none;
    margin: 0;
  }

  .for-dark {
    display: block;
    margin: 0;
  }
}

.for-light {
  display: block;
  margin: 0 auto;
}

.for-dark {
  display: none;
  margin: 0 auto;
}

.form-group {
  .buttons {
    .btn {
      padding: 10px 40px;
      margin-bottom: 10px;
    }
  }

  .position-relative {

    .email-icon,
    .lock-icon {
      height: 16px;
      width: 16px;
      fill: rgba(var(--dark-color), 0.7);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
    }

    .lock-icon {
      ~.is-invalid {
        background-position: right calc(2.01em + 0.1875rem) center;
      }
    }

    .password-wrap {
      line-height: 1 !important;
    }
  }

  &.no-margin {
    .invalid-feedback {
      margin-left: -103px;
    }
  }
}

.medialogo {
  margin-bottom: 30px;

  ul {
    display: flex;
    justify-content: center;
  }

  .btn-facebook {
    background-color: #2c67ce;
    color: $white;
  }
}

.forgot-password-content {
  position: relative;

  .back-btn-badge {
    padding: 4px;
    position: absolute;
    top: -10px;
    left: -10px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgba(var(--primary-color), 0.08);
    border: 1px solid rgba(var(--primary-color), 1);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 14px;
      width: 14px;
      fill: rgba(var(--primary-color), 1);
    }
  }

  .login-container {
    padding: 0;
    display: block;

    >.login-wrapper {
      >.form-content {
        >.form-group {
          >.input-wrapper {
            >.mb-3 {
              width: 100%;
            }
          }
        }

        >form {
          >.form-group {
            >.input-wrapper {
              >.mb-3 {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .login-wrapper {
      .form-content {
        div {
          button {
            @media (max-width:575px) {
              text-wrap: nowrap;
            }
          }
        }
      }
    }
  }
}
