@use './color.scss';

// //bootstrap
@use 'bootstrap/dist/css/bootstrap.min.css';

// //React Toastify
@use 'react-toastify/dist/ReactToastify.css';

// // Import css files
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

// //photoswipe
@use 'photoswipe/dist/photoswipe.css';

// //Music player
@use 'react-h5-audio-player/lib/styles.css';

@use './style.scss';
