/*=====================
ganral  css start
==========================*/
@use './../utils/variables' as *;
.inner-card {
  background-color: $white;
  padding: 15px;
}

.header-inner {
  padding-bottom: 55px;
}

.navbar-light .navbar-nav .nav-link {
  margin-top: -3px;
}

.links_horizontal {
  p {
    text-align: end;
  }
}

.landing-header {
  &.fixed {
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: rgba($white, 1);
          }
        }
      }
    }
  }

  .dropdown-menu {
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid #e5f0fa;
    min-width: 238px;

    .nav-link {
      line-height: 1;

      a,
      span {
        font-size: 16px;
        color: rgba($black, 0.5);
        transition: all 0.4s ease-in-out;
        text-transform: capitalize;
      }

      &:hover {
        a,
        span {
          letter-spacing: 0.8px;
        }
      }
    }
  }

  > .team-work-main {
    .team-work-content {
      .ply-main {
        &::before {
          right: 16%;
          background-image: linear-gradient(to left, #011e30, rgba(1, 30, 48, 0)) !important;
        }
      }
    }
  }
}

.inner-page {
  background-color: rgba(var(--primary-color), 0.025);

  header {
    position: relative;
    padding-bottom: 30px;

    .landing-header .landing-header-left {
      width: 100%;
      justify-content: space-between;

      .main-menu ul {
        li {
          a {
            font-weight: 500;
            color: rgba(var(--dark-color), 1);
          }
        }
      }
    }
  }

  section {
    background-image: linear-gradient(145deg, $light-primary 0%, rgba(var(--primary-color), 1) 100%);
  }
}

.page-decore {
  height: 100vh;
  width: 100vw;
  top: 0;
  overflow: hidden;
  position: fixed;
  background-color: rgba(var(--primary-color), 0.025);
  z-index: -1;

  li {
    position: absolute;
  }

  .top {
    top: -10px;
    right: -30px;
    transform: rotate(130deg);

    img {
      animation: animatone 15s linear infinite;
    }
  }

  .bottom {
    bottom: -30px;
    left: -20px;
    transform: rotate(-45deg);

    img {
      animation: animatone 25s linear infinite reverse;
    }
  }
}

/*=====================
breadcrumb css start
==========================*/
.breadcrumb-main {
  padding-top: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));

  .custom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    color: $white;
    font-weight: 600;
    display: inline-block;
    font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
  }

  ol {
    float: right;

    li {
      display: inline-block;
      text-transform: capitalize;
      position: relative;

      a {
        color: $white;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      }

      & + li {
        margin-left: 30px;

        &:before {
          content: '/';
          position: absolute;
          left: -20px;
          color: $white !important;
          top: 4px;
        }
      }
    }
  }
}

.footer-main {
  .footer-contant {
    .logo {
      a {
        img {
          margin: unset !important;
        }
      }
    }
  }
}
/*=====================
 404 css start
 ==========================*/
.error-images {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100vh;
  }
}

.error-main {
  .error-contain {
    text-align: center;
    padding-top: calc(50px + (200 - 50) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(50px + (200 - 50) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: calc(80px + (150 - 80) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(var(--primary-color), 1);
      line-height: 0.8;
      margin-bottom: 40px;
      text-shadow: 5px 5px 10px rgba(var(--primary-color), 1);
    }

    h2 {
      margin-bottom: 20px;
      font-weight: 800;
    }

    h4 {
      margin-bottom: 20px;
      line-height: 1.8;
    }

    .animated-bg {
      i {
        background: rgba(var(--primary-color), 0.04);
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        transform: scale(1.3);
        animation: ripple1 4s linear infinite;
        margin: 0 auto;
        top: 45%;
        transform: translate(0, 0);
        left: 0;
        right: 0;
        z-index: -1;

        &:nth-child(1) {
          animation: ripple2 4s linear infinite;
        }

        &:nth-child(2) {
          animation: ripple2 3s linear infinite;
        }

        &:nth-child(3) {
          animation: ripple3 2s linear infinite;
        }
      }
    }
  }
}

// counter

.counter-sec {
  visibility: visible;

  .counter-title {
    justify-content: center !important;
    margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
    text-align: center !important;
    position: relative !important;
    overflow: hidden !important;
    width: 100% !important;

    .title-line {
      position: relative;
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase !important;
      font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        height: 1px;
        width: 99%;
        display: block;
        border-bottom: 5px solid rgba(var(--primary-color), 1);
        right: 100%;
        margin-right: 25px;
        opacity: 0.15;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        height: 1px;
        width: 99%;
        display: block;
        border-bottom: 5px solid rgba(var(--primary-color), 1);
        left: 100%;
        margin-left: 25px;
        opacity: 0.15;
      }
    }
  }

  .counter-main {
    visibility: visible;
    text-align: center !important;
  }
}

.counter-slider {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        .position-relative {
          .counter-icon {
            position: absolute;
            top: -15px;
            left: 50%;
            z-index: 2;
            height: 60px;
            width: 60px;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(-50%);
            transition: all 0.4s ease-in-out;
            background-image: url(../../images/about/5.png);

            i {
              font-size: 30px;
              color: $white;
            }
          }

          .counter-icon-1 {
            position: absolute;
            top: -15px;
            left: 50%;
            background-image: url(../../images/about/6.png);
            height: 60px;
            width: 60px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            transform: translateX(-50%);
            background-size: cover;
            z-index: 1;
            display: none;
            transition: all 0.4s ease-in-out;

            i {
              font-size: 30px;
              color: rgba(var(--primary-color), 1);
            }
          }

          .counter-box-second {
            position: relative;
            padding: 48px 0 20px;
            margin: 20px auto 0;
            clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
            border-radius: 10px;
            transition: 1s box-shadow;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(rgba(var(--primary-color), 1), rgba(var(--primary-color), 0.05));

            &::before {
              content: '';
              position: absolute;
              height: 99%;
              width: 99%;
              top: 2px;
              left: 2px;
              z-index: -1;
              border-radius: 8px;
              transition: all 0.4s ease-in-out;
              background-color: rgba(var(--primary-light), 1);
              clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
            }

            .counter-box {
              text-align: center;

              .counter-no {
                font-weight: 600;
                color: #232323;
                margin-bottom: 0 !important;
                display: block !important;
                transition: all 0.4s ease-in-out;
                font-size: 24px;

                &.counter {
                  animation-duration: 1s;
                  animation-delay: 0s;
                }
              }

              span {
                font-size: 14px;
                margin-top: 5px;
                display: block;
                font-weight: 500;
                transition: all 0.4s ease-in-out;
              }
            }
          }

          &:hover {
            .counter-icon {
              display: none;
            }

            .counter-icon-1 {
              display: block;
            }

            .counter-box-second {
              &::before {
                background-color: rgba(var(--primary-color), 1) !important;
              }

              .counter-box {
                .counter-no {
                  color: rgba($white, 0.8);
                }

                span {
                  color: rgba($white, 0.8);
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}

.elements-massage {
  .fonts {
    display: block !important;

    li {
      h5 {
        color: $white;
      }

      h4 {
        color: $white;
      }
    }
  }
}

.popup-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.element-card {
  margin-top: 30px;
  border: 0;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 8px;
  box-shadow: 1px 5px 10px 5px rgba(68, 102, 242, 0.05);
  padding: 30px 20px;
  overflow: hidden;

  .heading {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0px;
    border-bottom: 1px solid $border-color;
  }

  .element-card-body {
    padding: 0.75rem 1.25rem;
  }

  .typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 20px;
    }

    .fonts {
      margin-bottom: 20px;

      .profile {
        margin-bottom: 20px;
      }
    }

    .font_label {
      margin-right: 20px;
    }
  }

  .element-card-body {
    .fonts {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}

.testimonial-title {
  margin-bottom: -80px;
  margin-top: 100px;
}

.element-span-prag {
  .element-card {
    .small_prag {
      margin-bottom: 20px;
    }
  }
}

.inner-page {
  & ~ div .testimonial-back-content {
    display: none;
  }
}
