@use './variables';

.custom-scroll,
.modal-content,
.epr-body {
  scroll-behavior: smooth;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px variables.$light-color;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--primary-color), 0.15);
  }
}
.scroll-invisiable {
  &::-webkit-scrollbar {
    width: 0;
  }
}
.owl-carousel {
  position: unset;
}
